/* 
    Primary color: rgb(40, 167, 225);
    Secondary color: rgb(23, 119, 242);
    Ongoing color: rgb(40, 225, 98) 28e162;
    Completed color: rgb(68, 40, 225);
    Hover color: rgb(68, 40, 225);
    Useful resources for color matching -> https://convertingcolors.com/rgb-color-40_167_225.html?search=RGB(40,%20167,%20225)
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a{
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}

a:visited{
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}

#main {
  width: 100%;
  height: 100%;
}

#main #main-header {
  /* border: 1px solid rgb(40, 167, 225); */
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 5px rgb(240, 240, 240);
  z-index: 10;
}

#main #main-header #header-content {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

#main #main-header #header-content #logo-wrapper {
  margin-top: 4px;
  margin-left: 100px;
  width: 203px;
  float: left;
}

#main #main-header #header-content #logo-wrapper #logo {
  width: 120px;
  height: auto;
}

#main #main-header #header-content #navbar-wrapper {
  margin-top: 10px;
  width: 695px;
  height: 60px;
  float: left;
  /* border: 1px black solid; */
}

#main #main-header #header-content ul {
  text-align: center;
}

#main #main-header #header-content ul li {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 10px;
  width: 130px;
  display: inline-block;
}

#main #main-header #header-content ul li:hover {
  color: rgb(40, 167, 225);
  cursor: pointer;
}

#main #main-container {
    position: relative;
    top: 90px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
}

#main #main-container #progress-wrapper {
  border: 1px solid rgb(250, 250, 250);
  margin: 40px 300px 40px 300px;
  height: auto;
  background-color: rgb(250, 250, 250);
}

#main #main-container #progress-wrapper #progress-title {
  margin-top: 30px;
  margin-left: 70px;
  color: rgb(60, 60, 60);
}
#main #main-container #progress-wrapper ul {
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 35px;
}

#main #main-container #progress-wrapper ul li {
  position: relative;
  /* border: 1px solid black; */
  display: inline-block;
  z-index: 1;
  width: 200px;
  height: 150px;
}

#main #main-container #progress-wrapper ul li .progress-img {
  height: 100px;
  width: auto;
  color: rgb(40, 167, 225);
  /* Refer to this website for color conversion details: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(66%) sepia(23%) saturate(5979%) hue-rotate(167deg)
    brightness(93%) contrast(89%);
}

#main #main-container #progress-wrapper ul li .status-img {
  margin-top: 40px;
  padding: 8px;
  width: 30px;
  height: auto;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  /* z-index: 3; */
  /* border: 1px solid black; */
}

#main #main-container #progress-wrapper ul li p {
  color: rgb(60, 60, 60);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

#main #main-container #progress-wrapper ul li p::before {
  content: "";
  background-color: rgb(220, 220, 220);
  height: 8px;
  width: 205px;
  display: block;
  position: absolute;
  top: 154px;
  z-index: -1;
}

#main #main-container #progress-wrapper ul li:first-child .progress-img {
  /* Statically written */
  /* Will implement dynamic features in react */
  height: 120px;
}

#main #main-container #progress-wrapper ul li:first-child p::before {
  top: 174px;
  left: 105px;
  width: 100px;
  background-color: rgb(34, 182, 81);
}

#main #main-container #progress-wrapper ul li:first-child .status-img {
  background-color: rgb(40, 225, 98);
}

#main #main-container #progress-wrapper ul li:last-child p::before {
  width: 105px;
}

#main #main-container #progress-wrapper ul li:nth-child(2) .status-img {
  background-color: rgb(40, 225, 98);
}

#main #main-container #progress-wrapper ul li:nth-child(2) p::before {
  background-color: rgb(34, 182, 81);
}

#main #main-container #gallery-wrapper {
  margin: 40px 300px 40px 300px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(250, 250, 250);
}

#main #main-container #gallery-wrapper #gallery-title {
    margin-top: 30px;
    margin-left: 70px;
  /* border: 1px solid black; */
}

.clearfix {
  clear: both;
}

/* Slideshow container */
.slideshow-container {
  /* border: 1px solid black; */
  /* width: 840px; */
  /* height: 500px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  margin: 40px 70px 0px 70px;
  display: none;
}

.mySlides img {
  width: 840px;
  height: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
