.itemContainer {
  text-align: center;
  width: 350px;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #EAFCFF;
}

.itemContainer .itemContent {
  margin-top: 3px;
  font-size: x-large;
  color: rgb(250, 250, 250);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemContainer:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.itemContainer:hover .itemContent {
  color: rgba(0, 0, 0, 0.8);
}
