* {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-container {
    /* border: 1px solid black; */
    width: 100%;
    height: 50em;
    background-color: white;
}

#main-container #title-wrapper {
    padding-top:1.5em;
    padding-left:1.5em;
    height: 12%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#main-container #title-wrapper h1 {
    /* text-align: center; */
    font-size: x-large;
    color: rgb(30, 30, 30);
}

.department-list-wrapper {
    height: 88%;
    overflow: scroll;
}
