.main-container {
  width: 900px;
  height: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.check-history {
  margin-top: 12px;
  margin-right: 60px;
  float: right;
}

.patient-info-container {
  margin-top: 10px;
  width: 900px;
  padding: 25px 25px 0px 25px;
}

h1 {
  margin-bottom: 30px;
}

.diagnosis-page-container {
  width: 900px;
  height: 500px;
  padding: 25px;
  margin-top: 20px;
}

.textbox {
  margin-bottom: 40px;
}

.submit-button {
  float: right;
  margin-right: 60px;
}

.clear-fix {
  clear: both;
}
