.main-container {
    width: 100%;
}

.title {
    float: left;
    color: rgba(0, 0, 0, 0.01);
    width: 15%;
    /* margin-left: 0.6em;
    margin-right: 1.5em; */
}

.text-area {
    float: right;
    width:80%;
}

.clear-fix {
    clear: both;
}

.tri{
    margin-left: 2.5em;
    margin-top: 0.4em;
    float: left;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent  transparent transparent black;
    padding: 0px; 
    width: 0px;
    height: 0px;
}
