@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

#main-footer {
  font-family: "Lato", sans-serif;
  padding-left: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(115, 115, 115);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
