#tabs {
  border: none;
  overflow: hidden;
}

#tabs .tabs-item{
  float: left;
}

#container-l {
  background-color: #ffffff;
  border: 0.1px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* border-radius: 0px 20px 0px 0px; */
  width: 570px;
  height: 550px;
  transition: height 1s;
}

#container-s {
  background-color: #ffffff;
  border: 0.1px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* border-radius: 0px 20px 0px 0px; */
  width: 570px;
  height: 400px;
  transition: height 1s;
}

#wrapper {
  margin: 60px 80px;
}

#wrapper .input-box {
  width: 100%;
  height: 50px;
  margin-bottom: 60px;
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
}

#wrapper .submit-button {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  border: none;
  color: white;
  font-size: large;
  border-radius: 4px;
}

#wrapper #login-button {
  background-color: rgb(40, 167, 225);
}

#wrapper #create-button {
  background-color: rgb(23, 119, 242);
}

#wrapper .hr {
  /* margin: 0px;
      padding: 0px; */
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 30px;
}

#wrapper #form-text {
  width: auto;
  height: 10px;
  color: rgb(19, 56, 73);
  text-align: center;
  margin-bottom: 30px;
  font-size: small;
}

/* #wrapper .form-item.input:focus {
  border-color: rgb(82, 166, 220);
} */

.clearfix {
  clear: both;
}
