#content-wrapper {
    /* border: 1px black solid; */
}

#patient-order {
    font-size: xx-large;
    color: rgb(39, 167, 225);
    float: left;
}

#card-text {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1.6em;
    float: left;
}

p {
    font-size: x-small;
}

.clear-fix {
    clear: both;
}